absl-py==1.4.0
aiohttp==3.8.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
annotated-types==0.6.0
anyio==3.7.1
astor==0.8.1
async-timeout==4.0.3
attrs==23.1.0
beautifulsoup4==4.11.1
blinker==1.8.2
bs4==0.0.1
cachetools==5.3.3
certifi==2022.6.15.1
charset-normalizer==2.1.1
click==8.1.3
contourpy==1.0.7
cycler==0.11.0
datasets==2.21.0
dill==0.3.8
distro==1.9.0
dnspython==2.4.2
email-validator==2.1.0.post1
exceptiongroup==1.1.3
fastapi==0.104.1
fastcore==1.7.1
fastlite==0.0.9
filelock==3.15.4
Flask==3.0.3
Flask-Cors==4.0.1
fonttools==4.39.3
frozenlist==1.4.0
fsspec==2024.6.1
gast==0.5.3
google-api-core==2.19.0
google-api-python-client==2.127.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.63.0
grpcio==1.53.0
h11==0.14.0
h5py==3.8.0
httpcore==1.0.1
httplib2==0.22.0
httptools==0.6.1
httpx==0.25.1
huggingface-hub==0.24.6
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.2
jiter==0.5.0
joblib==1.1.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
lxml==4.9.1
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.7.1
multidict==6.0.4
multiprocess==0.70.16
nltk==3.7
numpy==1.23.1
oauthlib==3.2.2
openai==1.42.0
orjson==3.9.10
packaging==23.0
pandas==1.4.3
Pillow==9.5.0
proto-plus==1.23.0
protobuf==4.22.1
pyarrow==17.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pydantic==2.4.2
pydantic-extra-types==2.1.0
pydantic-settings==2.0.3
pydantic_core==2.10.1
PyJWT==2.8.0
pynput==1.7.6
pyobjc-core==9.0.1
pyobjc-framework-ApplicationServices==9.0.1
pyobjc-framework-Cocoa==9.0.1
pyobjc-framework-Quartz==9.0.1
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==1.0.1
python-fasthtml==0.4.5
python-multipart==0.0.6
pytz==2022.1
PyYAML==6.0.1
regex==2022.7.25
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
schedule==1.1.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.3.2.post1
sqlite-minutils==3.37.0.post2
starlette==0.27.0
tensorboard==1.12.2
tensorflow @ https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.12.0-py3-none-any.whl
termcolor==2.2.0
textblob==0.17.1
tqdm==4.66.5
twilio==8.7.0
typing_extensions==4.12.2
ujson==5.8.0
unicodecsv==0.14.1
uritemplate==4.1.1
urllib3==1.26.12
uvicorn==0.30.6
uvloop==0.19.0
watchfiles==0.21.0
websockets==12.0
Werkzeug==3.0.3
xxhash==3.5.0
yarl==1.9.2
